# Pandas의 기본 사용법
### Series란?
. 시리즈는 인덱스와 값으로 구성

In [6]:
import pandas as pd

array = pd.Series(['사과', '바나나', '당근'], index=['a', 'b', 'c'])
print(array)
print(array['a'])

a     사과
b    바나나
c     당근
dtype: object
사과

In [8]:
import pandas as pd

data = {
    'a': '사과',
    'b': '바나나',
    'c': '당근'
}

# Dict 자료형을 Series로 바꾸기
array = pd.Series(data)
print(array['a'])

사과

### 데이터 프레임이란?

. 다수의 시리즈(Series)를 모아 처리하기 위한 목적으로 사용

. 표 형태로 데이터를 손쉽게 출력하고자 할 때 사용할 수 있음

In [14]:
import pandas as pd

word_dict = {
    'Apple': '사과',
    'Banana': '바나나',
    'Carrot': '당근'
}

frequency_dict = {
    'Apple': 3,
    'Banana': 5,
    'Carrot': 7
}

word = pd.Series(word_dict)
frequency = pd.Series(frequency_dict)

# 이름(Name): 값(Value)
summary = pd.DataFrame({
    'word': word,
    'frequency': frequency
})

summary

       word  frequency
Apple    사과          3
Banana  바나나          5
Carrot   당근          7

### 시리즈 연산

. 시리즈를 서로 연산하여 새로운 시리즈를 만들 수 있다.

In [16]:
import pandas as pd

word_dict = {
    'Apple': '사과',
    'Banana': '바나나',
    'Carrot': '당근'
}

frequency_dict = {
    'Apple': 3,
    'Banana': 5,
    'Carrot': 7
}

importance_dict = {
    'Apple': 3,
    'Banana': 2,
    'Carrot': 1
}

word = pd.Series(word_dict)
frequency = pd.Series(frequency_dict)
importance = pd.Series(importance_dict)

summary = pd.DataFrame({
    'word': word,
    'frequency': frequency,
    'importance': importance
})

score = summary['frequency']*summary['importance']
summary['score'] = score
summary

       word  frequency  importance  score
Apple    사과          3           3      9
Banana  바나나          5           2     10
Carrot   당근          7           1      7

### 데이터 프레임 슬라이싱

In [28]:
import pandas as pd

word_dict = {
    'Apple': '사과',
    'Banana': '바나나',
    'Carrot': '당근'
}

frequency_dict = {
    'Apple': 3,
    'Banana': 5,
    'Carrot': 7
}

importance_dict = {
    'Apple': 3,
    'Banana': 2,
    'Carrot': 1
}

word = pd.Series(word_dict)
frequency = pd.Series(frequency_dict)
importance = pd.Series(importance_dict)

summary = pd.DataFrame({
    'word': word,
    'frequency': frequency,
    'importance': importance
})

summary

# 이름을 기준으로 슬라이싱
summary.loc['Banana':'Carrot', 'importance':]

# 인덱스를 기준으로 슬라이싱
summary.iloc[1:3, 2:]

        importance
Banana           2
Carrot           1

In [31]:
import pandas as pd

word_dict = {
    'Apple': '사과',
    'Banana': '바나나',
    'Carrot': '당근'
}

frequency_dict = {
    'Apple': 3,
    'Banana': 5,
    'Carrot': 7
}

importance_dict = {
    'Apple': 3,
    'Banana': 2,
    'Carrot': 1
}

word = pd.Series(word_dict)
frequency = pd.Series(frequency_dict)
importance = pd.Series(importance_dict)

summary = pd.DataFrame({
    'word': word,
    'frequency': frequency,
    'importance': importance
})

summary.loc['Apple', 'importance'] = 5 # 데이터의 변경
summary
summary.loc['Elderberry'] = ['엘더베리', 5, 3] # 데이터 삽입
summary

            word  frequency  importance
Apple         사과          3           5
Banana       바나나          5           2
Carrot        당근          7           1
Elderberry  엘더베리          5           3

In [32]:
import pandas as pd

word_dict = {
    'Apple': '사과',
    'Banana': '바나나',
    'Carrot': '당근'
}

frequency_dict = {
    'Apple': 3,
    'Banana': 5,
    'Carrot': 7
}

word = pd.Series(word_dict)
frequency = pd.Series(frequency_dict)

summary = pd.DataFrame({
    'word': word,
    'frequency': frequency
})

summary.to_csv("summary.csv", encoding="utf-8-sig")
saved = pd.read_csv("summary.csv", index_col=0)
saved

       word  frequency
Apple    사과          3
Banana  바나나          5
Carrot   당근          7